$ticketsPerPage: 5;
$pageWidth: 21cm;
$pageHeight: 29.7cm;
$innerPadding: 0.75cm;
$leftInputHeight: 0.75cm;


@page {
    margin: 0;
    padding: 0;
    size: A4;
}

* {
    box-sizing: border-box;
}

.clr,
.clearfix,
.break {
    clear: both;
}

.mid{
    float: left;
    width: 50%;
}

.full{
    width: 100%;
    float: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.38cm;
    line-height: 110%;

    @media print {
        padding: 0;
        margin: 0;
    }
}

.bold,
.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.dotted-bottom {
    border-bottom: 1px dotted black;
}

#ticketlist {
    @media screen {
        display: none;
    }
    @media print {
        display: block;
        padding: 0;
        margin: 0;
        page-break-after: always;
    }
}


#sample {
    display: none;
}

#screen,
#generator {
    @media screen {
        display: block;
    }

    @media print {
        display: none;
    }
}

#screen{
    width: 100%;
}

#generator{
    width: $pageWidth;
    margin: 0 auto;
    label{
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }

    input[type=number],
    input[type=text]{
        width: 100%;
    }
    .full,
    .mid{
        padding: 15px;
    }    
}

#preview{
    margin: 0 auto;
    @media screen {
        width: $pageWidth;
        height: ($pageHeight / $ticketsPerPage);
    }    
}

.ticket {
    font-family: 'Purisa', Arial, Helvetica, sans-serif;
    font-size: 0.34cm;

    @media print {
        width: 100vw;
        height: (100vh / $ticketsPerPage);
    }

    @media screen {
        width: $pageWidth;
        height: ($pageHeight / $ticketsPerPage);
    }

    border-bottom: 1px dotted grey;

    .left,
    .right {
        float: left;
        height: 100%;
        min-height: 100%;
        position: relative;
        padding: $innerPadding
    }

    .number {
        font-size: 1.7em;
        line-height: 100%;
        position: absolute;
        right: $innerPadding;
        top: 0.5cm;
    }

    .left {
        width: 33.34%;

        .label_student,
        .student,
        .label_grade,
        .grade,
        .organization {
            position: absolute;
            left: $innerPadding;
            right: $innerPadding;
            line-height: 100%;
        }

        .label_grade,
        .label_student {
            font-size: 1em;
        }

        .label_student {
            top: 1.5cm;
        }

        .student {
            top: 2cm;
            height: $leftInputHeight;
        }

        .label_grade {
            top: 3.25cm;
        }

        .grade {
            top: 3.75cm;
            height: $leftInputHeight;
        }

        .organization {
            top: 5cm;
            font-size: 0.8em;
        }
    }

    .right {
        width: 66.66%;
        border-left: 1px dashed grey;

        .image,
        .winprice,
        .winprice_subtitle,
        .rule {
            position: absolute;
            left: $innerPadding;
            right: $innerPadding;
        }

        .title {
            position: absolute;
            top: 0.5cm;
            right: 2.25cm;
            left: $innerPadding;
            font-size: 1.5em;
        }

        .image {
            top: 1.5cm;
            height: 2cm;
            ;
            background-image: url('./image.png');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .winprice {
            top: 3.7cm;
            font-size: 1.75em;
        }

        .winprice_subtitle {
            top: 4.5cm;
        }

        .rule {
            top: 5.1cm;
        }

        .price {
            position: absolute;
            right: $innerPadding;
            top: 1.8cm;
            font-size: 3em;
        }
    }

    $pattern: $ticketsPerPage+'n';

    &:nth-child(#{$pattern}) {
        border-bottom: none;

        @media print {
            page-break-after: always;
        }
    }
}
